/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  color: var(--text-color);
  /* background-image: url(../images/cover-image-light.png); */
  background-image: var(--page-background-image);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

/* --------------------------- header ---------------------------- */

.header {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr minmax(355px, 491px);
  padding: 20px;
}

.header__theme-menu {
  grid-column: 1/3;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  font-weight: bold;
  font-size: inherit;
}

.title-accent {
  font-size: var(--title-accent__font-size);
  color: var(--header__title-color);
  font-weight: bold;
}

.header__title {
  grid-column: 1/3;
  margin-left: -20px;
  text-shadow: 4px 4px 0 var(--header__title-shadow);
  align-self: center;
  line-height: 82.5%;
}

.header__subtitle {
  grid-column: 2/3;
  align-self: start;
}

.decorated-zone {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* --- уголки ---- */

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--title-color);
  margin: 20px;
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-width: 1px 1px 0 0;
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-width: 0 0 1px 1px;
}

/* --- REC в правом верхнем углу------- */

.header__rec {
  display: var(--header__rec-display);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  margin-block-start: 12px;
  margin-inline-end: 20px;
  color: var(--accent-color);
}

.header__rec::after {
  content: 'REC';
  position: relative;
  margin: 0 18px 0 0;
  font-family: inherit;
}

.header__rec::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  margin-inline-end: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

/* --------------------------- section ---------------------------- */

.content__section {
  padding-inline-end: 20px;
  padding-inline-start: 20px;
  padding-block-end: 80px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
}

.grid-gap-static {
  gap: var(--grid-gap-static);
}

.grid-gap-variadle {
  gap: var(--grid-gap-variadle);
}

.content__title {
  grid-column: 1/2;
  grid-row: 1/grid-row-end;
  font-size: inherit;
  color: var(--title-color);
}

.content__article {
  grid-column: 2/4;
  grid-row: auto;
}

.content__section:first-child {
  padding-block-start: 60px;
}

.content__section:last-child {
  padding-block-end: 60px;
}

.content__text {
  line-height: 23.4px;
  margin-block-start: 10px;
}

.title-font-weight-normal {
  font-weight: normal;
}

/* --------------------------- section__attention-reduction ---------------------------- */

.section__attention-reduction .content__title {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.section__attention-reduction .content__title > * {
  grid-column: 1 / 2;  /* содержимое занимает 1/3 строки */
}

.section__attention-reduction .content__article {
  grid-column: span 1;
}

/* --------------------------- section__visual-aid ---------------------------- */

.section__visual-aid {
  grid-template-columns: 1fr;
}

.content__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
}

.content__gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: center;
}

.img__sunset {
  grid-area: 1/1/2/3;
}

.img__ice-cream {
  grid-area: 1/3/3/4;
}

.img__tape {
  grid-area: 2/1/4/2;
}

.img__books {
  grid-area: 2/2/3/3;
}

.img__street {
  grid-area: 3/2/4/4;
}

/* --------------------------- footer ---------------------------- */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--header__title-shadow);
}

/* --------------------------- link ---------------------------- */

.content__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content__text-link:hover {
  border-block-end: 1px solid var(--text-color);
}

.content__text-link:focus {
  outline: none;
}

.content__text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

/* --------------------------- button ---------------------------- */

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  color: var(--title-color);
  padding: 4px 13px;
  line-height: 18px;
  font-size: inherit;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover__border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--title-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--title-color);
}

/* --------------------------- media ---------------------------- */

@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    margin-block-end: 10px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: end;
  }
  
  .header__title {
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .content__section {
    grid-template-columns: 1fr 1.9fr;
  }

  .section__attention-reduction .content__article,
  .section__attention-reduction .content__title,
  .section__visual-aid .content__subtitle,
  .content__gallery {
    grid-column: span 2;
  }
}

@media (768px <= width < 1024px) {
  .header {
    grid-template-rows: 1fr 1.55fr 1fr;
    grid-template-columns: 1fr minmax(355px, 1fr);
  }
}

@media (width < 768px) {
  .header {
    grid-template-rows: 1fr 1.7fr 1fr;
    padding: 10px;
  }

  .header__rec {
    margin-block-start: 3px;
    margin-inline-end: 10px;
  }

  .decorated-zone::before,
  .decorated-zone::after {
    margin: 10px;
  }

  .header__title {
    margin-left: 0px;
  }

  .header__theme-menu-list {
    margin-block-end: 15px;
  }

  .header__subtitle {
    grid-column: 1/3;
  }

  .content__section {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    padding-block-end: 50px;
  }
  
  .content__section:first-child {
    padding-block-start: 40px;
  }
  
  .content__section:last-child {
    padding-block-end: 40px;
  }

  .content__gallery,
  .section__attention-reduction .content__title {
    grid-template-columns: 1fr;
  }

  .content__article,
  .content__title {
    grid-column: span 2;
  }

  .content__gallery-img {
    grid-area: auto;
  }
}