/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* --accent-color: #FF8DCB;
  --bg-color: #ffeef7;

  --header__title-color: #FFC2E6;
  --header__title-shadow: #FF0070;

  --title-color: #353430;
  --subtitle-color: #353430;
  --text-color: #353430;
  
  --main-font: 'IBM Plex mono'; */
  
  --accent-color: #FF0070;
  --bg-color: #000028;
    
  --header__title-color: #DB00FF;
  --header__title-shadow: #FF0070;
  
  --title-color: #FF0070;
  --subtitle-color: #000028;
  --text-color: #F1B2CE;
    
  --main-font: 'IBM Plex mono';
}
